############################################################
# Variables utilizadas en docker-compose.yaml
############################################################
DOCKER_API_PORT=8080
DOCKER_HOST_PORT=8040
DOCKER_FIRESTORE_EMULATOR_PORT=8200
DOCKER_FIRESTORE_EMULATOR_HOST_PORT=8200
API_PORT=8020
DOCKER_LIMITS_CPUS='1'
DOCKER_LIMITS_MEMORY='512M'
DOCKER_PIP_VERSION="pip --version"

############################################################
# Variables de ambiente de la aplicación
# ENVIRONMENT: Indica el ambiente en el que se encuentra trabajando
# la aplicación. Puede ser: development, staging, production.
# FLASK_ENV: Indica el ambiente de Flask. Puede ser: development y production.
# Si se indica development, entonces se activa el modo debug de Flask
# PROJECT_ID: Name of the GCP target project. Used for
# deployment and link logs explorer
############################################################
ENVIRONMENT=development
GOOGLE_APPLICATION_CREDENTIALS=./credentials/service-account.json
FLASK_ENV=development
FLASK_DEBUG=True
FLASK_HOST=127.0.0.1
PROJECT_ID=zitio
SERVICE_NAME=ot-amazon-get-token

############################################################
# Variables de control de logs
# LOG_LEVEL: Nivel de logs. Puede ser: DEBUG, INFO, WARNING, ERROR y CRITICAL
# SHOW_TRACEBACK: Si es True, entonces se muestran el
# traceback de la excepcion. Solo para el nivel INFO
# SHOW_GCP_ISSUE_LINK: Si es True, entonces al usar el
# parámetro show_gcp_log_link se muestra el enlace al log de
# Log Explorer de GCP
############################################################
LOG_LEVEL=DEBUG
SHOW_TRACEBACK=True
SHOW_GCP_ISSUE_LINK=True
